[submodule "external"]
	path = external
	url = https://github.com/niftools/pyffi-external.git

[submodule "pyffi/formats/kfm/kfmxml"]
	path = pyffi/formats/kfm/kfmxml
	url = https://github.com/niftools/kfmxml.git

[submodule "pyffi/formats/nif/nifxml"]
	path = pyffi/formats/nif/nifxml
	url = https://github.com/niftools/nifxml.git
