include README.rst
include INSTALL.rst
include LICENSE.rst
include CHANGELOG.rst
include AUTHORS.rst
include TODO.rst
include THANKS.rst
include CONTRIBUTE.rst
include pyffi/Formats/NIF/nif.xml
include pyffi/Formats/KFM/kfm.xml
include pyffi/Formats/CGF/cgf.xml
include pyffi/Formats/DDS/dds.xml
include pyffi/Formats/TGA/tga.xml
include pyffi/Formats/DAE/COLLADASchema.xsd
include pyffi/utils/mopper.exe
recursive-include examples *.py
include examples/simple/simple.xml
include examples/simple/somefile.simple
recursive-include tests *.*
include docs/*.*
prune *.svn*
prune *.git*

