include README.TXT
include INSTALL.TXT
include LICENSE.TXT
include CHANGELOG.TXT
include AUTHORS.TXT
include PyFFI/NIF/nif.xml
include PyFFI/KFM/kfm.xml
include PyFFI/CGF/cgf.xml
include examples/simple/Example.py
include examples/simple/simple.py
include examples/simple/simple.xml
include examples/simple/somefile.simple
include examples/simple/testread.py
include examples/simple/testwrite.py

